<!-- BlogPosts -->
<section id="two" class="wrapper alt style2">
    {% for post in site.posts limit:5 %}
    <section class="spotlight">
        <div class="image">
            <a href="{{ post.url }}"><img src="{{ post.imagetag }}" alt="" /></a>
        </div>
        <div class="content">
            <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
            <p>{{ post.excerpt }}</p>
            <a href="{{ post.url }}"><p>Read more</p></a>
        </div>
    </section>
    {% endfor %}
</section>